* {
    box-sizing: border-box
}

@font-face {
    font-family: "Kosugi Maru Regular";
    src: url("assets/KosugiMaru-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zen Maru Gothic Medium";
    src: url("assets/ZenMaruGothic-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html {
    overflow:hidden;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
    background-color: snow;
    text-align: center;

}



body, .word-input {
    font-family: 'Kosugi Maru Regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    border-radius: .3rem;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;

}

.container.show {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.content-container {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    height: 50vh;
    overflow-y: auto;
}


.quiz {
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.quiz.show {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}


.word-display {
    font-size: 125px;
    user-select: none;
    /*margin-top: 1.5rem;
    margin-bottom:2.5rem;*/
    padding-top: 1.5rem;
    padding-bottom:2.5rem;

}

/*.word-display.show {
    opacity:1;
}*/



input[type=text] {
    color:#363636;
    background-color:rgba(204, 200, 200, 0.438);
    caret-color: #000000;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Zen Maru Gothic Medium';
    /*background-color: rgb(255, 250, 250);*/
    width:350px;
    padding:8px;
    border-radius: 8px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

input::placeholder {
    font-size: 80%;
}

.word-input {
    display: flex;
    align-items: center;
    justify-content: center;

}

#input {
    position:fixed;
}

#input.absolute {
    position: absolute;
}


.menu {
    display: none;
    position: absolute;
    z-index: 1; /* above other elements */
    left: 50%;
    top: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.menu-content {
    font-family:Zen Maru Gothic Medium;
    /*background-color: rgb(253, 248, 248);;*/
    margin: 15% auto;
    padding: 1rem;
    width: 500px;
    border: none;
    /*border: 1px solid #333;*/
    border-radius: 8px;
    text-align: left;
    user-select:none;
    font-size: 20px;
    
}

.menu-button-container {
    align-items:center;
    display:flex;
    justify-content: center;
}

#menu-button {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    color: #878585;
    border:none;
    font-family: 'Zen Maru Gothic Medium';
    font-size: 20px;
    background: transparent;
}

#menu-button-text {
    display: flex;
    align-items: center;
    padding-bottom: 0.15rem;
    margin-left: 0.45rem; /* Add some right margin to create spacing */
}

#menu-button svg {
    display: flex;
    width: 1.25em;
    height: 1.25em;
    color:#878585;
}

#menu-button:hover {
    color:black;
}

#menu-button:hover svg {
    fill:black;
}

.furigana {
    font-family: 'Kosugi Maru Regular';
    font-size: 30px;
    padding-top:1rem;
    color:rgb(158, 0, 0);
    opacity: 0;
    transition: opacity 0.05s ease-in-out;
}

.furigana.show {
    opacity: 1;
    transition: opacity 0.05s ease-in-out;
}

.decks ul{
    display:relative;
    white-space: normal;
    padding-left: 0;
}

.decks ul li{
    display:inline;
    white-space: normal;
}

.option{
    color:rgb(133, 112, 112); 
}

.option:hover,
.option:active{
    color:rgb(27, 27, 27);
    cursor:pointer;
}

.option-selected {
    color:rgb(0, 0, 0);
}

.option-selected:hover,
.option-selected:active{
    cursor:pointer;
}



#reading {
    height: 1rem;
}

/*
#resetbutton {
    background-color: transparent;
    border: none;
    padding:1rem 2rem;
    color:grey;
    cursor:pointer;
}

#resetbutton:hover {
    color:black;
}
*/


#ok {
    font-family:Zen Maru Gothic Medium;
    font-size:14px;
    padding:0.1rem;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(48, 48, 48);
    border: none;
    border-radius:8px;
    width:100px;
    color:white;
}

#ok:active {
    background-color: rgb(27, 27, 27);
}

.ok-button {
    padding-top: .5rem;
    padding-bottom: .5rem;
}