* {
    box-sizing: border-box
}

@font-face {
    font-family: "Kosugi Maru Regular";
    src: url("assets/KosugiMaru-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zen Maru Gothic Medium";
    src: url("assets/ZenMaruGothic-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
    background-color: snow;
    text-align: center;

}



body, .word-input {
    font-family: 'Kosugi Maru Regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding: 1rem;
    border-radius: .3rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.container.show {
    opacity:1;
}

.word-display {
    font-size: 500%;
    user-select: none;

}

/*.word-display.show {
    opacity:1;
}*/

input {
    color:#363636;
    caret-color: #694539;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Zen Maru Gothic Medium';
    background-color: snow;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.deck-selector {
    position: relative;
    display: inline-block;
    text-align: center;
    user-select: none;
}


#decklist {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 250, 250);
    border: 1px solid #ccc;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  
#decklist span {
    display: block; /* Display each word on a new line */
    padding: 5px 10px;
}

#decklist li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #333;

}

#decklist li:hover {
    background-color: #f5f5f5;
    
}

#deckbutton {
    /* ... */
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color:grey;
    font-size: 1.1rem;
    font-family: "Kosugi Maru Regular";
    /* ... */
}

#deckbutton:hover {
    color:black;

}

#deckbutton:focus {
    color:black;
}